body, html {
    background: #f9f9f9;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.header {
    background: #aa08ff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom:20px;
}

.calc-form {
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-size: 18px;
    margin: 0 0 8px;
    padding: 20px;
}
.sum{
  background:#e6e6e6;
}
.summodal{
  background: none;
}
button{
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
